body {
    background-color: rgb(78, 78, 78);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.quotes {
    display: flex;
    align-items: center;
    height: 80vh;
}

.container {
    background-color: rgb(216, 216, 216);
    padding: 50px;
    border-radius: 10px;
}

input {
    margin-right: 10px;
    border-radius: 5px;
}

#quote {
    text-align: center;
}

@media screen and (max-width: 580px) {
    .container {
        margin: 0 10px;
    }
}